@charset "UTF-8";

main section {
	border-radius: 5px;
	margin: 10px 1ch;
	max-width: max-content;
	display: block;
	background-color: #111;
	color: rgb(219, 201, 212);
}

main section a, main section p {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	color: rgb(219, 201, 212);
}

main :not(.mobile_resizer) {
	padding: 1px;
}

/* mobile */
@media (max-width: 991px){
	main section{
		padding: 1px;
		margin: 5px .5ch;
	}
	main .mobile_resizer {
		padding: 1px;
	}
}
