@charset "UTF-8";

#btn_nav {
	display: none;
}

main section {
	border-radius: 5px;
	padding: 5px;
	margin: 10px 1ch;
	max-width: max-content;
	display: inline-block;
	background-color: #111;
	color: rgb(219, 201, 212);
}

/* mobile */
@media (max-width: 991px){
	main section{
		padding: 1px;
		margin: 5px .5ch;
	}
}
