@charset "UTF-8";

main section {
	text-align: left;
	transition: 1s;
}
main section p {
	max-width: 70ch !important;
	padding: 0px;
	margin: 0px;
	transition: 1s;
}
main section {
	padding: 5px;
	margin: 10px 1ch;
	max-width: max-content;
	display: inline-block;
	background-color: #111;
	color: rgb(219, 201, 212);
	transition: 1s;
}
main section.class-args_agree {
	border-radius: 5px;
	transition: 1s;
}
main:not(.mobile_resizer) {
	padding: 1px 3ch;
	transition: 1s;
}
main>div#all_args {
	border-top: 1px solid white;
	margin: 2ch 1ch;
	padding: 0px;
	transition: 1s;
}
main>div:not(#all_args) {
	border-top: 1px solid grey;
	margin: 2ch 1ch;
	padding: 0px;
	transition: 1s;
}
#main_title {
	display: none;
	transition: 1s;
}
#main_top {
	padding: 0px;
	transition: 1s;
}


/* mobile */
@media (max-width: 991px){
	main section{
		padding: 1px;
		margin: 1px .5ch;
	}
	main.mobile_resizer {
		padding: 1px;
		margin: 0px .5ch;
	}
	main>div#all_args {
		padding: 0px;
		margin: 1px .5ch;
	}
	main>div:not(#all_args) {
		padding: 0px;
		margin: 1px .5ch;
	}

	#header_title {
		font-size: 1.5rem;
	}
	header h1 {
		padding: 2px 1px 2px 1px;
	}

	nav p {
		padding: 1px 1px 0px 1px;
	}
}
